@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    flex: 1;
    width: 100vw;
    height: 100vh;
}

.header {
    background: #232a4d;
    color: white;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-logo-img {
    margin-left: 225px;
    margin-right: auto;
    margin-top: 30px;
}

.header-links {
    display: flex;
    margin-left: auto;
    margin-right: 225px;
    font-size: 30px;
    gap: 30px;
}

a:link{
    text-decoration: none;
    color: #bebebe;
}

.header-bottom {
    display: flex;
    align-items: center;
}

.hero-text {
    margin-left: 225px;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn {
    width: 60px;
    height: 30px;
    color: white;
    background: #418dff;
    border-radius: 8px 8px 8px 8px;
}

.hero-img {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: 225px;
    margin-top: 60px;
    margin-bottom: 30px;
}