@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

body {
    flex: 1;
    width: 100vw;
    height: 100vh;
}

/*HEADER CSS*/

.header {
    background: #1f2937;
    color: white;
}

.header-top {
    display: flex;
    align-items: center;
}

.hero-text-large {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text-small {
    font-size: 18px;
    padding: 8px;
    color: #e5e7eb;
}

.header-logo-img {
    margin-left: 400px;
    margin-right: auto;
    margin-top: 30px;
}

.header-links {
    display: flex;
    margin-left: auto;
    margin-right: 400px;
    font-size: 30px;
    gap: 30px;
}

a:link{
    text-decoration: none;
    color: #bebebe;
}

a:visited {
    text-decoration: none;
    color: #0a9c05;
}

.header-bottom {
    display: flex;
    align-items: center;
}

.hero-text {
    margin-left: 400px;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn-top {
    width: 150px;
    height: 40px;
    color: white;
    border: 2px solid #232a4d;
    background: #418dff;
    border-radius: 10px 10px 10px 10px;
}

.btn-bottom {
    width: 150px;
    height: 40px;
    color: white;
    background: #418dff;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
}

.hero-img {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: 400px;
    margin-top: 60px;
    margin-bottom: 30px;
}

/*INFORMATION CSS*/

.information {
    margin-bottom: 60px;
}

.information-header {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-segments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.info-segment1,
.info-segment2,
.info-segment3,
.info-segment4 {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-img {
    width: auto;
    height: 200px;
    border: 5px solid #418dff;
    border-radius: 10px 10px 10px 10px;
}

/*QUOTE CSS*/

#quote {
    height: 250px;
    background: #a3a3a3;
    padding: 30px auto 30px auto;
    display: flex;
    align-items: center;
}

.quote {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.quote-text {
    font-size: 35px;
}

/*SIGNUP CSS*/

#signup {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    height: 175px;
    width: 75vw;
    background-color: #418dff;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    color: white;
    align-items: center;
}

.signup-text {
    margin-left: 80px;
}

.signup-btn {
    margin-left: auto;
    margin-right: 80px;
}

/*FOOTER CSS*/

.footer {
    height: 125px;
    width: 100vw;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}